html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Mitr", sans-serif;
}

main div.row {
    height: 100%;
    margin: 0;
}

main h1,
label {
    font-weight: bold;
}

main input.form-control,
main button.btn {
    width: 100%;
    border-radius: 30px;
}

main button.btn:hover {
    background-color: #f6aa1c;
}

main a {
    text-decoration: none;
    padding-left: 10px;
    color: #d00000;
}

main input.form-control {
    padding-left: 20px;
}


main h1,
main label {
    color: #d00000;
}

main button.btn {
    background-color: #d00000;
}
