html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Mitr", sans-serif;
}

header nav {
    background-color: #d00000;
    padding-left: 50px;
    padding-right: 50px;
}

header li button.btn-light {
    border-radius: 75%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    color: #d00000;
}

header nav.navbar a.navbar-brand,
header nav.navbar li.nav-item a.nav-link {
    font-weight: bold;
    color: white;
}

header div.container-fluid a.navbar-brand button {
    margin-right: 10px;
    border-radius: 40px;
    border: solid;
    border-color: #ffba08;
}

header .input-group {
    width: 50%;
}

header .input-group input {
    border-radius: 50px;
    padding-left: 20px;
}

header .input-group button {
    background-color: #d00000;
    border-radius: 50px;
}

footer h4,
h6 {
    font-weight: bold;
}

footer {
    background-color: #333333;
    color: #f6aa1c;
    padding-top: 30px;
    margin-top: 50px;
}

footer div.row {
    margin: 0;
    padding: 50px;
}

footer div.row div.col-5 p i {
    padding-right: 10px;
}

footer div.row div.col-5 button {
    margin: 0 0 10px 40px;
    border-radius: 40px;
    border: solid;
    border-color: #ffba08;
}

footer div.row div.col-3 i {
    font-size: 40px;
    padding-left: 10px;
}

footer div.row div.col-3 div.input-group i {
    padding: 0;
    font-size: 20px;
}

footer div.row div.col-3 div.input-group input,
footer div.row div.col-3 div.input-group button {
    border-radius: 36px;
    border: solid;
    border-color: #f6aa1c;
}

footer div.row div.col-3 div.input-group button {
    background-color: #f6aa1c;
}
