html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Mitr", sans-serif;
}

main div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
    margin: 0;
}

main div.row img {
    padding: 0;
}

main div.row h3 {
    color: #d00000;
    font-weight: bold;
    margin-top: 20px;
}

main div.row hr {
    margin-top: 50px;
    width: 50%;
    color: #ff0000;
}

main div.row div.card {
    margin: 20px 10px 50px;
    padding-top: 15px;
    border: solid #d00000;
    border-radius: 50px;
    width: 220px;
    height: 284px;
}

main div.row div.card img {
    height: 50%;
}

main div.row div.card h5 {
    color: #d00000;
    font-weight: bold;
}

main div.row div.card p {
    font-family: "Coiny", sans-serif;
    color: #ffba08;
    font-weight: bold;
}

main div.row div.card a {
    background-color: #d00000;
    color: #ffffff;
    border-radius: 20px;
}

main div.row div.card a:hover {
    background-color: rgb(240, 43, 28);
}

main div.row a.bg-light {
    width: 10%;
    border-radius: 20px;
    border: solid #d00000;
    color: #d00000;
}
