html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Mitr", sans-serif;
}

main div.row {
    height: 100%;
    margin: 0;
}

main h1,
label {
    font-weight: bold;
}

main input.form-control,
main button.btn {
    width: 100%;
    border-radius: 30px;
}

main a {
    text-decoration: none;
    padding-left: 10px;
    color: #d00000;
}

main div.social-auth-links button.link-google {
    color: grey;
    border-radius: 50px;
    border: solid 1px
}

main div.social-auth-links button.link-google:hover {
    color: black;
}

main input.form-control {
    padding-left: 20px;
}

main h1,
main label {
    color: #d00000;
}

main button.btn-form {
    background-color: #d00000;
}

main button.btn-form:hover {
    background-color: #f6aa1c;
}
